@if (isAddingTask){
  <app-task-form [userId]="selectedUser.id" (cancelClickedEmitter)="cancelDialogHandler()" />
}
@if (isUpdatingTask){
  <app-task-form [userId]="selectedUser.id" (cancelClickedEmitter)="cancelDialogHandler()" [taskId]="currentTask.id" />
}
<section class="user-header">
  <header>
    <h2 class="user-name">{{ selectedUser.name }}'s Tasks</h2>
  </header>
  <button class="btn" type="button" (click)="openNewTaskFormHandler()">+&nbsp;&nbsp;Task</button>
</section>
@if( selectedUser.tasks.length > 0 ) {
  <div class="tasks-container">
    @for ( task of selectedUser.tasks; track task.id){
      <app-task [taskId]="task.id" (onUpdateClick)="openUpdateTaskFormHandler(task.id)" />
    }
  </div>
}
